$zero: 0rem;

$space-1: 1rem;
$space-2: 2rem;
$space-3: 3rem;
$space-4: 4rem;
$space-5: 5rem;
$space-6: 6rem;
$space-7: 7rem;
$space-8: 8rem;
$space-9: 9rem;
$space-10: 10rem;
$space-11: 11rem;
$space-12: 12rem;
$space-13: 13rem;
$space-14: 14rem;
$space-15: 15rem;

$space-20: 20rem;
$space-30: 30rem;
$space-40: 40rem;
$space-50: 50rem;
$space-60: 60rem;
$space-70: 70rem;
$space-80: 80rem;
$space-90: 90rem;

$search-box-size: 80rem;
$header-heigth: 4rem;